.rxp_tag_related * {
  padding: 0;
  margin: 0
}

.rxp_tag_related {
  border: 1px solid #E5E5E5;
  padding: 10px;
  margin: 10px 0
}

.rxp_tag_related div.title {
  font-size: 1.1em;
  font-weight: bold;
  color: #444;
  border-bottom: #E5E5E5 1px solid;
  padding: 0 0 2px 5px;
  margin-bottom: 10px
}

.rxp_tag_related li {
  list-style: none;
  margin: 3px 0
}

.rxp_tag_related li .regdate {
  font-family: tahoma;
  font-size: .85em;
  color: #AAA
}

.rxp_tag_related li .module_title {
  font-family: tahoma;
  font-size: .85em;
  color: #AAA
}

.rxp_tag_related li a {
  color: #666;
  text-decoration: none
}

.rxp_tag_related li a:hover {
  text-decoration: underline
}

.rxp_tag_related li .comment_cnt {
  font-weight: normal;
  font-size: 0.8em;
  color: #F48A23
}

.rxp_tag_related li .author {
  color: #AAA
}

.rxp_tag_related li .readAndVoted {
  font-family: tahoma;
  font-size: .8em;
  color: #AAA
}

.rxp_tag_related li .readAndVoted .voted {
  color: #C8A64B
}

.rxp_tag_related li .readAndVoted .readed {
  color: #4BC4C8
}
